header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo h5 {
  color: MediumAquamarine;
  display: inline-flex;
}

.navigation {
  display: flex;
  padding-right: 40px;
  align-items: center;
  justify-content: flex-end;
}

.navigation a {
  display: inline-block;
  padding: 20px 10px;
  justify-content: flex-end;
}

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}

.column.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  align-items:center;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  border: 1px solid black;
}

.motherarticle {
  border: 1px solid black;
}

.orcaarticle {
  border: 1px solid black;
}

.burgerarticle {
  border: 1px solid black;
}

.articletitle{
  border: 1px solid black;
  height: 104px;
}

.mothertitle {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
  background-image: url("../pictures/img-story-main.png");
}

.mothertitle p {
  margin-top: 0;
}

.earthheadline {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  margin-top: 15px;
  justify-content: center;
  background-image: url("../pictures/img-story-2.png");
}

.researchheadline {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
  height: 300px;
  background-image: url("../pictures/img-story-3.png");
  text-align: center;
}

.catheadline {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
  height: 300px;
  background-image: url("../pictures/img-story-1.png");
}

.bottomhalf {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  text-align: center;
}

.tinyone .tinytwo {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h2 {

}

.narrative {
  margin-top: 16px;
}
